apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "headscale.fullname" . }}-config
data:
  config.yaml: |-
{{ toYaml .Values.config | indent 4 }}
  policy.json: |-
{{ .Values.policy | indent 4 }}