apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "headscale.fullname" . }}
  labels:
    {{- include "headscale.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "headscale.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "headscale.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: headscale
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["headscale", "serve"]
          ports:
            - name: http
              containerPort: 8080
            - name: metrics
              containerPort: 9090
          volumeMounts:
            - name: config
              mountPath: /etc/headscale
            - name: lib
              mountPath: /var/lib/headscale
            - name: run
              mountPath: /var/run/headscale
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "headscale.fullname" . }}-config
        - name: lib
{{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "headscale.fullname" . }}-lib
{{- else }}
          emptyDir: {}
{{- end }}
        - name: run
{{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "headscale.fullname" . }}-run
{{- else }}
          emptyDir: {}
{{- end }}